{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static 'django_learnit/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'django_learnit/css/style.min.css' %}">

    {% block head %}{% endblock head %}
  </head>

  <body>
    <div class="container">
      {% block breadcrumb %}{% endblock breadcrumb %}
      {% block body %}{% endblock body %}
    </div>

    <script src="{% static 'django_learnit/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'django_learnit/js/bootstrap.min.js' %}"></script>

    {% block script %}{% endblock script %}
  </body>
</html>
