{% extends "django_learnit/labelling/base.html" %}

{% block body %}
<div class="tokens">
  {% for token in tokens %}
    <span class="token" data-index="{{ forloop.counter0 }}">{{ token }}</span>
  {% endfor %}
</div>

<ul class="classes">
  {% for class, display in classes %}
    <li data-class="{{ class }}">{{ display }}</li>
  {% endfor %}
</ul>

<form method="post">
  {% csrf_token %}
  {% for label_form in form %}
    {{ label_form.label }}
  {% endfor %}
  {{ form.management_form }}
  <input type="submit">
</form>

<script>
  $(document).ready(function () {

    var tokens = $('.token');
    var labels = $('select[name$="-label"]');

    var startIndex = null,
        endIndex = null;

    /**
     * Updates tokens `data-label` using form data
     */
    function updateTokens () {
      $('.token').each(function (index) {
        var label = $('select[name$="' + index + '-label"]').val();
        $(this).attr('data-label', label);
      });
    }

    /**
     * Sets labels for a selection range
     */
    function setLabels(start, end, label) {
      for (var i = start; i <= end; i++) {
        $(labels[i]).val(label);
      }
      updateTokens();
    }

    /**
     * Adds selected feedback class on tokens
     */
    function updateSelectionFeedback () {
      tokens.removeClass('selected');

      var start = Math.min(startIndex, endIndex);
      var end = Math.max(startIndex, endIndex);

      for (var i = start; i <= end; i++) {
        $(tokens[i]).addClass('selected');
      }
    }

    // Update tokens on labels change
    labels.change(function () {
      updateTokens();
    });

    // Start selection
    tokens.mousedown(function () {
      var index = $(this).data('index');

      startIndex = index;
      endIndex = index;

      updateSelectionFeedback();
    });

    // Update selection
    tokens.mouseenter(function () {
      if (startIndex !== null) {
        endIndex = $(this).data('index');
        updateSelectionFeedback();
      }
    });

    tokens.mouseleave(function () {

    })

    // End selection
    $(document).mouseup(function () {
      if (startIndex !== null && endIndex !== null) {
        var start = Math.min(startIndex, endIndex);
        var end = Math.max(startIndex, endIndex);

        // Get end element position
        var el = $(tokens[endIndex]);

        $('ul.classes')
          .attr({
            'data-start': start,
            'data-end': end
          })
          .css({
            'top': (el.outerHeight() + el.offset()['top'] + 2) + 'px',
            'left': el.offset()['left'] + 'px'
          })
          .show();

        startIndex = null;
        endIndex = null;
      } else {
        // Reset
        $('ul.classes').hide();
        tokens.removeClass('selected');
      }
    });

    // Set selection
    $('.classes > li').click(function () {
      var start = $(this).parent().attr('data-start');
      var end = $(this).parent().attr('data-end');
      setLabels(start, end, $(this).data('class'));
    });

    // Setup
    updateTokens();

  });
</script>
{% endblock body %}
